<div class="container my-3">
  <div class="cards">
    <% Dir.glob("app/assets/images/moulin/*").each do |image| %>
      <a href="#" class="text-decoration-none">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path(image.sub("app/assets/images/", "")) %>');">
        </div>
      </a>
    <% end %>
  </div>
</div>
