<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529636798458-92182e662485?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);">
  <h1>AUDREY + BENJAMIN</h1>
  <h2>SAMEDI 20 AVRIL 2024, OISE</h2>
   <%= link_to 'RSVP', new_guest_path, class: 'btn btn-flat' %>
</div>
<section id="welcome-ou-et-quand">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center", style="margin:15px">
        <h1> OU ET QUAND </h1>
      </div>
    </div>
    <div class="row", style="margin:30px">
      <div class="col-md-6 text-center">
        <%= link_to 'programme', class:"plain-link" do %>
          <h2><i class="fa-solid fa-calendar-days"></i></h2>
          <p>du samedi 20 avril à 16h00<br>
          au dimanche 21 avril à 16h00
          </p>
        <% end %>
      </div>
      <div class="col-md-6 text-center">
        <%= link_to 'adresse', class:"plain-link" do%>
        <h2><i class="fa-solid fa-map-location"></i></h2>
        <p>Le Moulin de la Forge <br>
        60590 Le Vaumain
        </p>
        <%end%>
      </div>
    </div>
  </div>
</section>
