<div class="container">
  <div class="row">
    <div class="col-md-6">
      Notre rencontre
      <br>
      20 avril 2014
      <br>
      Blond & blond & blond
    </div>
    <div class="col-md-6">
      Photo
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      Notre histoire
      <br>
      1ères vacances
      <br>
      1er appartement
    </div>
  </div>
</div>
