// .wrapping-inline{
//   justify-content: space-between;
//   align-items: start;
// }

.container-form{
  margin-inline: 30%;
}

.form-inline-field-small{
  width: 100%;
}
// .form-inline-field-large{
//   width: 68%;
// }

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */
  .container-form{
    margin-inline: 15%;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container-form{
    margin-inline: 5%;
  }
}

// Nice form for long text
.category-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 40%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}


.category-selector:checked + label {
  color: white !important;
  background-color: blue;
  text-align: center;
}


// Nice form for people
.category-wrapper-people {
  display: flex;
  justify-content: space-around;
  // flex-direction: column;
  flex-wrap: wrap;
}

.category-item-people {
  flex: 0 0 12%;
}

.category-selector-people {
  position: absolute;
  transform: scale(0);
  display: flex;
  align-items: center;
  justify-content: center
}

.category-selector-people + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}


.category-selector-people:checked + label {
  color: white !important;
  background-color: blue;
  text-align: center;
}

// Nice form for plus_un
// Nice form for people
.category-wrapper-accomp {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  // width: 60%;
}

.category-item-accomp {
  flex: 0 0 45%;
}

.category-selector-accomp {
  position: absolute;
  transform: scale(0);
  display: flex;
  align-items: center;
  // justify-content: center;
}

.category-selector-accomp + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}


.category-selector-accomp:checked + label {
  color: white !important;
  background-color: blue;
  text-align: center;
}
