.information {
  text-align: center;
  margin: 30px;
}
.information-details{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}

.fa-solid {
  font-size: 60px;
}
