.navbar {
  height: 200px;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar h1 {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}
